* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  -webkit-tap-highlight-color: transparent;
}
* ::-webkit-scrollbar {
  width: 0;
}
* ::-webkit-scrollbar-track {
  background: none;
}
* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}
* ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  font-style: normal;
  color: #565872;
  font-size: 16px;
  line-height: 1.25;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  background-color: #ececec;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
::placeholder {
  opacity: 1;
  color: #b6bcc3;
}
p {
  line-height: 1.25;
}
ol, ul {
  padding-left: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  color: #565872;
}
h1, h2 {
  font-weight: 900;
}
h3, h4, h5, h6 {
  font-weight: 700;
}
h1 {
  color: #0f1d28;
  font-size: 3.75rem;
}
h2 {
  color: #0f1d28;
}
h3 {
  color: #0f1d28;
}
h4 {
  color: #0f1d28;
  font-size: 1.15rem;
}
h5 {
  color: #0f1d28;
}
h6 {
  color: #0f1d28;
}
a {
  cursor: pointer;
  outline: 0 solid;
  color: #0f1d28;
  text-decoration: none;
}
a:focus, a:hover, a:active, a:visited {
  outline: 0 solid;
  text-decoration: none;
}
a:hover {
  color: #589ccd;
}
button {
  cursor: pointer;
  outline: 0 solid;
}
button:focus {
  outline: 0 solid;
  box-shadow: none;
}
button:hover {
  cursor: pointer;
}
button:disabled {
  opacity: 0.8;
  cursor: default;
}
input, select {
  font-size: 100%;
}
label {
  font-weight: 500;
}
/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 0.6666666667) {
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"] {
    font-size: 0.9rem;
  }
}
/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 0.5633802817) {
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"] {
    font-size: 0.9rem;
  }
}
/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 0.5622188906) {
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="tel"], input[type="url"] {
    font-size: 0.9rem;
  }
}
/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 0.5625) {
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="tel"], input[type="url"] {
    font-size: 0.9rem;
  }
}
#wrapper {
  padding-left: 15rem;
}
#sidebar {
  top: 0;
  width: 15rem;
  height: 100%;
  z-index: 102;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease-in;
  background-color: #ffffff;
}
#sidebar a {
  display: block;
  text-align: center;
  text-decoration: none;
}
#sidebar a span {
  padding: 1rem;
  display: flex;
  font-size: 1rem;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}
#sidebar a span:hover {
  transform: translate(5px);
}
#sidebar a.active {
  background-color: #ececec;
}
#sidebar a.active span:hover {
  transform: none;
}
#sidebar .logo {
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 1rem;
}
#sidebar .logo img {
  width: 75%;
}
#sidebar .logo a {
  background: none;
  border-left: none;
}
#sidebar .logo a:hover {
  background: none;
  border-left: none;
}
.sidebar-ovarlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=sidebar.css.map */