#messages {
  left: 50%;
  bottom: 2rem;
  z-index: 103;
  position: absolute;
  transform: translateX(-50%);

  div {
    opacity: 0;
    margin: 1rem;
    display: flex;
    min-width: 15rem;
    max-width: 25rem;
    position: relative;
    border-radius: 10px;
    padding: 0.75rem 1rem;
    align-items: flex-start;
    transform: translate3d(0, 200%, 0);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, transform 0.3s cubic-bezier(0, 0.8, 0.6, 1);
  }

  .close {
    top: 0;
    right: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.25rem;
    background: none;
    position: absolute;
  }

  .show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.message-box {
  h3 {
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
  }

  i {
    padding: 0.25rem;
    border-radius: 5px;
    margin-right: 0.5rem;
  }

  p {
    margin: 0;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: #333D48;
    line-height: 1.25rem;

    span.short-text {
      max-width: 200px;
      display: inline-block;
      margin-right: 0.25rem;
    }
  }
}

.message-info {
  background: #E5EFFA;
  border: 1px solid $info-color;

  i {
    color: #ffffff;
    background: $info-color;
  }
}

.message-error {
  background: #FCEDE9;
  border: 1px solid $danger-color;

  i {
    color: #ffffff;
    background: $danger-color;
  }
}

.message-success {
  background: #EAF7EE;
  border: 1px solid $success-color;

  i {
    color: #ffffff;
    background: $success-color;
  }
}

.message-warning {
  background: #FEF7EA;
  border: 1px solid $warning-color;

  i {
    color: #ffffff;
    background: $warning-color;
  }
}